<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankzhou.comment.mapper.UserInfoMapper">

    <resultMap id="userInfoMap" type="com.frankzhou.comment.entity.UserInfo">
        <id column="user_id" property="userId" javaType="Long"/>
        <result column="city" property="city" javaType="String"/>
        <result column="introduce" property="introduce" javaType="String"/>
        <result column="fans" property="fans" javaType="Integer"/>
        <result column="followee" property="followee" javaType="Integer"/>
        <result column="gender" property="gender" javaType="Integer"/>
        <result column="birthday" property="birthday" javaType="Date"/>
        <result column="credits" property="credits" javaType="Integer"/>
        <result column="level" property="level" javaType="Integer"/>
        <result column="create_time" property="createTime" javaType="Date"/>
        <result column="update_time" property="updateTime" javaType="Date"/>
    </resultMap>

    <sql id="baseColumn">
        `user_id`,`city`,`introduce`,`fans`,`followee`,`gender`,
        `birthday`,`credits`,`level`
    </sql>

</mapper>